[submodule ".registry"]
	path = .registry
	url = https://github.com/ropensci-review-tools/ropensci-review-tools.r-universe.dev
	branch = HEAD
[submodule "autotest"]
	path = autotest
	url = https://github.com/ropensci-review-tools/autotest
[submodule "goodpractice"]
	path = goodpractice
	url = https://github.com/mangothecat/goodpractice
	registered = false
[submodule "pkgcheck"]
	path = pkgcheck
	url = https://github.com/ropensci-review-tools/pkgcheck
[submodule "pkgmatch"]
	path = pkgmatch
	url = https://github.com/ropensci-review-tools/pkgmatch
[submodule "pkgstats"]
	path = pkgstats
	url = https://github.com/ropensci-review-tools/pkgstats
[submodule "roreviewapi"]
	path = roreviewapi
	url = https://github.com/ropensci-review-tools/roreviewapi
[submodule "srr"]
	path = srr
	url = https://github.com/ropensci-review-tools/srr
