[submodule ".registry"]
	path = .registry
	url = https://github.com/ropensci-review-tools/universe
	branch = HEAD
[submodule "autotest"]
	path = autotest
	url = https://github.com/ropensci-review-tools/autotest
[submodule "pkgcheck"]
	path = pkgcheck
	url = https://github.com/ropensci-review-tools/pkgcheck
[submodule "pkgstats"]
	path = pkgstats
	url = https://github.com/ropensci-review-tools/pkgstats
[submodule "roreviewapi"]
	path = roreviewapi
	url = https://github.com/ropensci-review-tools/roreviewapi
[submodule "srr"]
	path = srr
	url = https://github.com/ropensci-review-tools/srr
